<% include ../partials/header %>

<div class="row">
        

            
        
          <div class="grid-container">
        <% result.forEach(function(product) { %>
                       
                      
                        <div class="item">     
                        <h1 class="itemtitle">Id: <%= product.Id %> </h1>
                        <h1 class="itemp">Name: <%= product.Name %></h1>
                        <p class="itemp">Location: <%= product.Activity %></p>
                        <p class="itemp">Price: $<%= product.Price %></p>
                      <a href="/product/<%= product.Id %>" class="button">View</a>
                        <img src="/<%= product.Image %>" class="pimage"  />
                        <a href="/editproduct/<%= product.Id %>" class="button">Edit</a>
  <p class="button" id="doit<%= product.Id %>">Delete</a>
  <p id="yes<%= product.Id %>" style="display:none">
  Are you sure?
                        <a href="/delete/<%= product.Id %>" class="button">Yes</a>
             </p>
             
             <script>
               $(document).ready(function(){
                 $("#doit<%= product.Id %>").click(function(){
                   $("#yes<%= product.Id %>").slideToggle(2000);
                   
                 })
                 
               })
               
             </script>
             
                        </div>
           
    
  
  <% }); %>
        
        </div>
 <a href="/addproduct" class="button">Add New Ticket</a>
    </div>

<% include ../partials/footer %>
